.tempdata {
  border: 1px solid blue;
  flex-grow: 3;
  flex-basis: 33.333333%;
  min-height: 300px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 20px;
}

.actions-container {
  border: 1px solid orange;
  width: 100%;
}

p {
  font-size: 70px;
  font-family: sans-serif;
}

